In [1]:
import requests
import pandas as pd

In [2]:

url = 'http://api.citybik.es/v2/networks/mobibikes' 
response = requests.get(url)
data = response.json()

# Extract stations
stations = data['network']['stations']
stations_df = pd.DataFrame(stations)

# Clean and select relevant columns
stations_df = stations_df[['id', 'name', 'latitude', 'longitude', 'free_bikes', 'empty_slots']]

# Optional: restrict to first 5 stations for testing
#stations_subset = stations_df.head(5)
#stations_subset

In [3]:
stations_df

,id,name,latitude,longitude,free_bikes,empty_slots
0,00fa94ad698dc4a9e4d708d6fd32f294,Chilco & Barclay,49.291909,-123.140713,5,13
1,012d3e06901cc222b1c2cf0a2ace3a29,St George & Broadway,49.262321,-123.093060,2,11
2,029a505bd4422a1afd127987757f71a6,Britannia Parking Lot,49.275882,-123.071865,8,5
3,0438114d2e6b96118de69bc9775bb21e,Morton & Denman,49.288030,-123.142135,4,22
4,0459b7e93703980b853cd65a9dc60596,Thornton & National,49.273777,-123.092723,6,8
...,...,...,...,...,...,...
254,fbb4c06b719596c21f91fd51ef6d4710,7th & Heather,49.265089,-123.119425,7,11
255,fe0c57d04d6e682d284d501446095fc9,Union & Dunlevy,49.277595,-123.095830,8,8
256,fedff7a263c182df94bda7307059cc52,Richards & Helmcken,49.277141,-123.122589,3,13
257,fef69fb400210d861107a61db954d037,Keefer & Abbott,49.279821,-123.108020,6,21
258,fffd87607aaae16fbb1f71615cbe7d17,8th & Prince Edward,49.263518,-123.095680,4,14

In [4]:
print(stations_df.describe())

         latitude   longitude  free_bikes  empty_slots
count  259.000000  259.000000  259.000000   259.000000
mean    49.271616 -123.123414    7.281853    10.722008
std      0.011665    0.039658    5.112845     5.298817
min     49.238105 -123.254307    0.000000     0.000000
25%     49.263157 -123.139238    4.000000     7.500000
50%     49.270877 -123.118551    6.000000    10.000000
75%     49.280380 -123.100170   10.000000    14.000000
max     49.302577 -123.056909   26.000000    34.000000

In [6]:
stations_df.to_csv('data/citybikes.csv', index=False)